<div class="row footer" style="padding-bottom: 42px; padding-top: 42px">
  <hr style="margin: 26px" />
  <div class="col-3 row">
    <div class="col-4">
      <i style="font-size: 50px" class="fa fa-award"> </i>
    </div>
    <div class="col-8">
      <span style="font-size: 18px; font-weight: 700">India's #1</span>
      <p style="color: gray; font-size: 15px">Largest Auto portal</p>
    </div>
  </div>
  <div class="col-3 row">
    <div class="col-4">
      <i style="font-size: 50px" class="fa fa-truck-pickup"> </i>
    </div>
    <div class="col-8">
      <span style="font-size: 18px; font-weight: 700">Car Sold</span>
      <p style="color: gray; font-size: 15px">Every 4 minute</p>
    </div>
  </div>
  <div class="col-3 row">
    <div class="col-4">
      <i style="font-size: 50px" class="fa fa-tags"> </i>
    </div>
    <div class="col-8">
      <span style="font-size: 18px; font-weight: 700">Offers</span>
      <p style="color: gray; font-size: 15px">Stay updated pay less</p>
    </div>
  </div>
  <div class="col-3 row">
    <div class="col-4">
      <i style="font-size: 50px" class="fa fa-truck-pickup"> </i>
    </div>
    <div class="col-8">
      <span style="font-size: 18px; font-weight: 700">Compare</span>
      <p style="color: gray; font-size: 15px">Decode the right car</p>
    </div>
  </div>

  <hr />
</div>
<div class="row">
  <div class="col-3">
    <h6 style="margin-left: 25px; font-size: 14px">Overview</h6>
    <div style="margin-left: 25px; font-size: 12px; color: gray">
      <p>About us</p>
      <p>FAQs</p>
      <p>Privacy Policy</p>
      <p>Terms & Condition</p>
      <p>Corporate Policies</p>
      <p>Investors</p>
    </div>
  </div>
  <div class="col-3">
    <h6 style="font-size: 14px">Other</h6>
    <div style="font-size: 12px; color: gray">
      <p>Advertise with Us</p>
      <p>Careers</p>
      <p>Customer Care</p>
    </div>
  </div>
  <div class="col-3">
    <h6 style="font-size: 14px">CONNECT WITH US</h6>
    <div style="font-size: 12px; color: gray">
      <p>1800 200 3000 (Toll-Free)</p>
      <p>support@cardekho.com</p>
      <p>Dealer solutions</p>
      <p>Used Cars Business</p>
      <p>Contact Us</p>
      <p>Feedback</p>
    </div>
  </div>
  <div class="col-3">
    <h6 style="font-size: 14px">EXPERIENCE CARDEKHO APP</h6>

    <img
      src="../assets/images/footer-image/footer-image-1.png"
      alt=""
      style="height: 42px; width: 105px"
    />&nbsp; &nbsp; &nbsp;
    <img
      src="../assets/images/footer-image/footer-image-2.webp"
      alt=""
      style="height: 42px; width: 105px"
    />
    <br /><br />

    <h6 style="font-size: 13px">Follow us</h6>
    <div style="color: gray">
      <i class="fab fa-facebook-f"></i>&nbsp; &nbsp;
      <i class="fab fa-twitter-square"></i>&nbsp; &nbsp;
      <i class="fab fa-youtube"></i>&nbsp; &nbsp;
      <i class="fab fa-instagram"></i>
    </div>
  </div>
</div>
<hr />
<div class="row" style="padding-bottom: 25px; padding-top: 25px">
  <div class="col-6">
    <span style="font-size: 12px; color: gray; margin-left: 20px"
      >© 2022 Girnar Software Pvt. Ltd.</span
    >
  </div>
  <div class="col-6">
    <img
      style="margin-left: 105px"
      src="../assets/images/footer-image/footer-image-3.webp"
      alt=""
    />
    &nbsp; &nbsp;
    <img src="../assets/images/footer-image/footer-image-4.png" alt="" />
    &nbsp; &nbsp;
    <img src="../assets/images/footer-image/footer-image-5.svg" alt="" />
  </div>
</div>
