<div class="menubar-1-Wrapper">
  <div>
    <h3>The Most Searched Cars</h3>
  </div>
  <div>
    <ul class="nav nav-tabs menubar-button" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          style="border: none"
          class="nav-link active menubar-btn-clicked"
          id="hatchback-tab"
          data-bs-toggle="tab"
          data-bs-target="#hatchback"
          type="button"
          role="tab"
          aria-controls="hatchback"
          aria-selected="true"
        >
          Hatchback
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          style="border: none"
          class="nav-link menubar-btn-clicked"
          id="sedan-tab"
          data-bs-toggle="tab"
          data-bs-target="#sedan"
          type="button"
          role="tab"
          aria-controls="sedan"
          aria-selected="false"
        >
          Sedan
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          style="border: none"
          class="nav-link menubar-btn-clicked"
          id="suv-tab"
          data-bs-toggle="tab"
          data-bs-target="#suv"
          type="button"
          role="tab"
          aria-controls="suv"
          aria-selected="false"
        >
          SUV
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          style="border: none"
          class="nav-link menubar-btn-clicked"
          id="muv-tab"
          data-bs-toggle="tab"
          data-bs-target="#muv"
          type="button"
          role="tab"
          aria-controls="muv"
          aria-selected="false"
        >
          MUV
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          style="border: none"
          class="nav-link menubar-btn-clicked"
          id="luxury-tab"
          data-bs-toggle="tab"
          data-bs-target="#luxury"
          type="button"
          role="tab"
          aria-controls="luxury"
          aria-selected="false"
        >
          Luxury
        </button>
      </li>
    </ul>
    <div style="margin-top: 20px; margin-bottom: 20px">
      <hr style="width: 100%" />
    </div>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="hatchback"
        role="tabpanel"
        aria-labelledby="hatchback-tab"
      >
        <div class="grid-wrapper">
          <div class="card">
            <img
              src="../assets/images/Most-searched-hatchback-1.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Renault KWID</h6>
              <h5 class="card-title card-text-2">Rs4.64 - 5.99 Lakh*</h5>
              <a href="#" class="btn btn-primary card-button"
                >Check August Offers</a
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/most-searched-hatchback-2.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Maruti Alto K10</h6>
              <h5 class="card-title card-text-2">Rs3.99 - 5.83 Lakh*</h5>
              <a href="#" class="btn btn-primary card-button"
                >Check August Offers</a
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/most-searched-hatchback-3.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Maruti Swift</h6>
              <h5 class="card-title card-text-2">Rs5.92 - 8.85 Lakh*</h5>
              <a href="#" class="btn btn-primary card-button"
                >Check August Offers</a
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/most-searched-hatchback-4.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Maruti Baleno</h6>
              <h5 class="card-title card-text-2">Rs6.49 - 9.71 Lakh*</h5>
              <a href="#" class="btn btn-primary card-button"
                >Check August Offers</a
              >
            </div>
          </div>
        </div>
        <div style="margin-top: 20px; margin-bottom: 20px">
          <hr style="width: 100%" />
        </div>
        <div class="grids-footer">View All Hatchback Cars</div>
      </div>
      <div
        class="tab-pane fade"
        id="sedan"
        role="tabpanel"
        aria-labelledby="sedan-tab"
      >
        <div class="grid-wrapper">
          <div class="card">
            <img
              src="../assets/images/most-searched-sedan-1.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Honda City 4th Generation</h6>
              <h5 class="card-title card-text-2">Rs9.50 - 10.00 Lakh*</h5>
              <a href="#" class="btn btn-primary card-button"
                >Check August Offers</a
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/most-searched-sedan-2.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Maruti Dzire</h6>
              <h5 class="card-title card-text-2">Rs6.24 - 9.18 Lakh*</h5>
              <a href="#" class="btn btn-primary card-button"
                >Check August Offers</a
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/most-searched-sedan-3.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Hyundai Verna</h6>
              <h5 class="card-title card-text-2">Rs9.41 - 15.45 Lakh*</h5>
              <a href="#" class="btn btn-primary card-button"
                >Check August Offers</a
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/most-searched-sedan-4.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Honda City</h6>
              <h5 class="card-title card-text-2">Rs11.57 - 15.52 Lakh*</h5>
              <a href="#" class="btn btn-primary card-button"
                >Check August Offers</a
              >
            </div>
          </div>
        </div>
        <div style="margin-top: 20px; margin-bottom: 20px">
          <hr style="width: 100%" />
        </div>
        <div class="grids-footer">View All Sedan Cars</div>
      </div>
      <div
        class="tab-pane fade"
        id="suv"
        role="tabpanel"
        aria-labelledby="suv-tab"
      >
        <div class="grid-wrapper">
          <div class="card">
            <img
              src="../assets/images/most-searched-suv-1.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Renault Kiger</h6>
              <h5 class="card-title card-text-2">Rs5.99 - 10.62 Lakh*</h5>
              <a href="#" class="btn btn-primary card-button"
                >Check August Offers</a
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/most-searched-suv-2.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Mahindra Thar</h6>
              <h5 class="card-title card-text-2">Rs13.53 - 16.03 Lakh*</h5>
              <a href="#" class="btn btn-primary card-button"
                >Check August Offers</a
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/most-searched-suv-3.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Maruti Brezza</h6>
              <h5 class="card-title card-text-2">Rs7.99 - 13.96 Lakh*</h5>
              <a href="#" class="btn btn-primary card-button"
                >Check August Offers</a
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/most-searched-suv-4.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Mahindra XUV700</h6>
              <h5 class="card-title card-text-2">Rs13.18 - 24.58 Lakh*</h5>
              <a href="#" class="btn btn-primary card-button"
                >Check August Offers</a
              >
            </div>
          </div>
        </div>
        <div style="margin-top: 20px; margin-bottom: 20px">
          <hr style="width: 100%" />
        </div>
        <div class="grids-footer">View All Suv Cars</div>
      </div>
      <div
        class="tab-pane fade"
        id="muv"
        role="tabpanel"
        aria-labelledby="muv-tab"
      >
        <div class="grid-wrapper">
          <div class="card">
            <img
              src="../assets/images/most-searched-muv-1.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Renault Triber</h6>
              <h5 class="card-title card-text-2">Rs5.92 - 8.51 Lakh*</h5>
              <a href="#" class="btn btn-primary card-button"
                >Check August Offers</a
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/most-searched-muv-2.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Toyota Innova Crysta</h6>
              <h5 class="card-title card-text-2">Rs17.86 - 26.54 Lakh*</h5>
              <a href="#" class="btn btn-primary card-button"
                >Check August Offers</a
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/most-searched-muv-3.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Maruti Ertiga</h6>
              <h5 class="card-title card-text-2">Rs8.41 - 12.79 Lakh*</h5>
              <a href="#" class="btn btn-primary card-button"
                >Check August Offers</a
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/most-searched-muv-4.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Maruti XL6</h6>
              <h5 class="card-title card-text-2">Rs11.29 - 14.55 Lakh*</h5>
              <a href="#" class="btn btn-primary card-button"
                >Check August Offers</a
              >
            </div>
          </div>
        </div>
        <div style="margin-top: 20px; margin-bottom: 20px">
          <hr style="width: 100%" />
        </div>
        <div class="grids-footer">View All Muv Cars</div>
      </div>
      <div
        class="tab-pane fade"
        id="luxury"
        role="tabpanel"
        aria-labelledby="luxury-tab"
      >
        <div class="grid-wrapper">
          <div class="card">
            <img
              src="../assets/images/most-searched-luxury-1.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Volvo XC90</h6>
              <h5 class="card-title card-text-2">Rs93.90 - 96.65 Lakh*</h5>
              <a href="#" class="btn btn-primary card-button"
                >Check August Offers</a
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/most-searched-luxury-2.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Mercedes-Benz GLA</h6>
              <h5 class="card-title card-text-2">Rs44.90 - 48.90 Lakh*</h5>
              <a href="#" class="btn btn-primary card-button"
                >Check August Offers</a
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/most-searched-luxury-3.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">BMW X5</h6>
              <h5 class="card-title card-text-2">Rs79.90 - 95.90 Lakh*</h5>
              <a href="#" class="btn btn-primary card-button"
                >Check August Offers</a
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/most-searched-luxury-4.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Audi A6</h6>
              <h5 class="card-title card-text-2">Rs59.99 - 65.99 Lakh*</h5>
              <a href="#" class="btn btn-primary card-button"
                >Check August Offers</a
              >
            </div>
          </div>
        </div>
        <div style="margin-top: 20px; margin-bottom: 20px">
          <hr style="width: 100%" />
        </div>
        <div class="grids-footer">View All Luxury Cars</div>
      </div>
    </div>
  </div>
</div>
