<div class="main-wrapper">
  <div class="header-wrapper">
    <div class="row">
      <div class="col-3 m-auto">
        <img
          class="main-logo"
          src="../assets/images/cdLogo-independence-day.svg"
        />
      </div>
      <div class="input-wrapper col-5 text-center m-auto">
        <input
          class="search-input"
          type="text"
          placeholder="Search Cars or Brands eg. Swift, or Maruti"
        />
        <span class="badge searchBadge"><i class="fa fa-search"></i></span>
      </div>
      <div class="col-2 text-center m-auto">
        <select class="lang-dropdown">
          <option>English</option>
          <option>हिन्दी</option>
          <option>தமிழ்</option>
          <option>Arbi</option>
          <option>Chinese</option>
        </select>
      </div>
      <div class="login-register col-2 m-auto text-end">
        <i class="fa fa-user"></i> &nbsp;
        <span style="margin-right: 30px">Login / Register</span>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-9 dropdown-wrapper">
        <div class="dropdown">
          <button class="dropbtn">
            my car<i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Search New Car</a>
            <a href="#">Popular Brands</a>
            <a href="#">Latest Cars</a>
            <a href="#">Popular Cars</a>
            <a href="#">Upcoming Cars</a>
            <a href="#">BS6 Cars</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">
            used car <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Car In Your City</a>
            <a href="#">Car Dekho Used Car</a>
            <a href="#">Car Dekho Used Car Store</a>
            <a href="#">Sell Used Car</a>
            <a href="#">Used Car Dealers</a>
            <a href="#">Used Car Loan</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">
            sell car <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Sell Car In Your City</a>
            <a href="#">Used Car Valuation</a>
            <a href="#">Sell Car By Brands</a>
            <a href="#">How It Works?</a>
            <a href="#">FAQs</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">compare cars</button>
          <div class="dropdown-content"></div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">
            news & Reviews <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Car News</a>
            <a href="#">Feature Stories</a>
            <a href="#">Car Collections</a>
            <a href="#">Car Selling Tips</a>
            <a href="#">User Reviews</a>
            <a href="#">Road Test</a>
            <a href="#">Video Reviews</a>
            <a href="#">Write a Review</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">
            cardekho ventures <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#"></a>
            <a href="#">CarDekho Gaadi Store</a>
            <a href="#">Car Insurance</a>
            <a href="#">Health Insurance</a>
            <a href="#">Term Life Insurance</a>
            <a href="#">Car Tyres</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">more <i class="fa fa-caret-down"></i></button>
          <div class="dropdown-content">
            <a href="#">Car Loan</a>
            <a href="#">EMI Calculator</a>
            <a href="#">Ask a Question</a>
            <a href="#">Careers with us</a>
          </div>
        </div>
        <div class="col-3 city-dropdown">
          <i class="nav-icon fa fa-map-marker-alt"></i>
          <select class="lang-dropdown">
            <option>Indore</option>
            <option>Mumbai</option>
            <option>Delhi</option>
            <option>Kolkata</option>
            <option>Dehradun</option>
            <option>Rudrapur</option>
            <option>Dineshpur</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div
      id="carouselExampleIndicators"
      class="carousel slide carousel-wrapper"
      data-interval="false"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active carousel-btn"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
          class="carousel-btn"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="../assets/images/first-img.webp"
            class="d-block w-100 slider-image"
          />
        </div>
        <div class="carousel-item">
          <img
            src="../assets/images/second-img.webp"
            class="d-block w-100 slider-image"
          />
        </div>
        <div class="bgimage-form">
          <form action="/action_page.php" class="form">
            <h3 style="font-weight: 770">Find your right car</h3>

            <button type="submit" class="form-btn">New Car</button>&nbsp; &nbsp;
            <button type="submit" class="form-btn">Used Car</button><br /><br />

            <input type="radio" name="Radio" class="radio-btn" />
              <label>By Budget</label>  
            <input type="radio" name="Radio" class="radio-btn" />  
            <label>By Brand</label><br /><br />
            <input type="text" placeholder="Select Brand" class="form-input" />
            <input
              type="text"
              placeholder="Select Modal"
              class="form-input"
            /><br /><br />
            <button type="submit" class="formsearch-btn">Search</button
            ><br /><br />
            <label class="advanced-search"
              >Advanced Search <i class="fa fa-arrow-right"></i
            ></label>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
