<div class="menubar-1-Wrapper">
  <div>
    <h3>Trusted used cars by budget</h3>
  </div>
  <div>
    <ul class="nav nav-tabs menubar-button" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          style="border: none"
          class="nav-link active menubar-btn-clicked"
          id="oneFive-tab"
          data-bs-toggle="tab"
          data-bs-target="#oneFive"
          type="button"
          role="tab"
          aria-controls="oneFive"
          aria-selected="true"
        >
          1-5 Lakh
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          style="border: none"
          class="nav-link menubar-btn-clicked"
          id="fiveTan-tab"
          data-bs-toggle="tab"
          data-bs-target="#fiveTan"
          type="button"
          role="tab"
          aria-controls="fiveTan"
          aria-selected="false"
        >
          5-10 Lakh
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          style="border: none"
          class="nav-link menubar-btn-clicked"
          id="tanFiftin-tab"
          data-bs-toggle="tab"
          data-bs-target="#tanFiftin"
          type="button"
          role="tab"
          aria-controls="tanFiftin"
          aria-selected="false"
        >
          10-15 Lakh
        </button>
      </li>
    </ul>
    <div style="margin-top: 20px; margin-bottom: 20px">
      <hr style="width: 100%" />
    </div>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="oneFive"
        role="tabpanel"
        aria-labelledby="oneFive-tab"
      >
        <div class="grid-wrapper">
          <div class="card">
            <img
              src="../assets/images/tursted-used-1.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Hyundai I10</h6>
              <h5 class="card-title card-text-2">Starting @ Rs 1.85 Lakh</h5>
              <br />
              <span style="font-size: 12px; color: #919395"
                >9 Available Cars</span
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/trusted-used-2.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Maruti Alto 800</h6>
              <h5 class="card-title card-text-2">Starting @ Rs 1.8 Lakh</h5>
              <br />
              <span style="font-size: 12px; color: #919395"
                >9 Available Cars</span
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/trusted-used-3.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Maruti Swift</h6>
              <h5 class="card-title card-text-2">Starting @ Rs 1 Lakh</h5>
              <br />
              <span style="font-size: 12px; color: #919395"
                >9 Available Cars</span
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/trusted-used-4.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Maruti Wagon R</h6>
              <h5 class="card-title card-text-2">Starting @ Rs 1 Lakh</h5>
              <br />
              <span style="font-size: 12px; color: #919395"
                >9 Available Cars</span
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="fiveTan"
        role="tabpanel"
        aria-labelledby="fiveTan-tab"
      >
        <div class="grid-wrapper">
          <div class="card">
            <img
              src="../assets/images/trusted-used-5.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Hyundai I20</h6>
              <h5 class="card-title card-text-2">Starting @ Rs 5.5 Lakh</h5>
              <br />
              <span style="font-size: 12px; color: #919395"
                >9 Available Cars</span
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/trusted-used-6.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Hyundai I20</h6>
              <h5 class="card-title card-text-2">Starting @ Rs 5.5 Lakh</h5>
              <br />
              <span style="font-size: 12px; color: #919395"
                >8 Available Cars</span
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/trusted-used-7.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Hyundai I20</h6>
              <h5 class="card-title card-text-2">Starting @ Rs 5.5 Lakh</h5>
              <br />
              <span style="font-size: 12px; color: #919395"
                >7 Available Cars</span
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/trusted-used-8.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Hyundai I20</h6>
              <h5 class="card-title card-text-2">Starting @ Rs 5.5 Lakh</h5>
              <br />
              <span style="font-size: 12px; color: #919395"
                >7 Available Cars</span
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="tanFiftin"
        role="tabpanel"
        aria-labelledby="tanFiftin-tab"
      >
        <div class="grid-wrapper">
          <div class="card">
            <img
              src="../assets/images/trusted-used-9.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Hyundai Creta</h6>
              <h5 class="card-title card-text-2">Starting @ Rs 10 Lakh</h5>
              <br />
              <span style="font-size: 12px; color: #919395"
                >3 Available Cars</span
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/trusted-used-10.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Mahindra Xuv500</h6>
              <h5 class="card-title card-text-2">Starting @ Rs 11 Lakh</h5>
              <br />
              <span style="font-size: 12px; color: #919395"
                >3 Available Cars</span
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/trusted-used-11.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Kia Seltos</h6>
              <h5 class="card-title card-text-2">Starting @ Rs 14.5 Lakh</h5>
              <br />
              <span style="font-size: 12px; color: #919395"
                >2 Available Cars</span
              >
            </div>
          </div>
          <div class="card">
            <img
              src="../assets/images/trusted-used-12.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title card-text-1">Mahindra Marazzo</h6>
              <h5 class="card-title card-text-2">Starting @ Rs 10.51 Lakh</h5>
              <br />
              <span style="font-size: 12px; color: #919395"
                >7 Available Cars</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
