<div class="latest-cars-wrapper">
  <div>
    <h3>Popular Brands</h3>
  </div>
  <br />
  <div class="grid-wrapper-1">
    <div class="card-1 card">
      <img src="../assets/images/popular-brand-1.jpg" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title popular-text">Maruti</h5>
      </div>
    </div>

    <div class="card-1 card">
      <img src="../assets/images/popular-brand-2.jpg" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title popular-text">Hyundai</h5>
      </div>
    </div>

    <div class="card-1 card">
      <img src="../assets/images/popular-brand-3.jpg" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title popular-text">Tata</h5>
      </div>
    </div>

    <div class="card-1 card">
      <img src="../assets/images/popular-brand-4.jpg" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title popular-text">Mahindra</h5>
      </div>
    </div>

    <div class="card-1 card">
      <img src="../assets/images/popular-brand-5.jpg" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title popular-text">Kia</h5>
      </div>
    </div>

    <div class="card-1 card">
      <img src="../assets/images/popular-brand-6.jpg" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title popular-text">Mercedes-Benz</h5>
      </div>
    </div>
  </div>
  <div style="margin-top: 20px; margin-bottom: 20px">
    <hr style="width: 100%" />
  </div>
  <div class="grids-footer">View All Brands</div>
</div>
<div class="latest-cars-wrapper">
  <div>
    <h3>Compare to buy the right car</h3>
  </div>
  <br />
  <div class="compare-grid">
    <div class="dual-image-wrapper row">
      <div class="col-6" style="padding: 0px">
        <img
          src="../assets/images/compare-car/compare-1.jpg"
          class="card-img-top"
        />
        <span style="font-size: 12px; margin-left: 15px; color: #808288">
          Volkswagen </span
        ><br />
        <span style="margin-left: 15px; font-weight: 500">Taigun</span><br />
        <span style="font-weight: 400">Rs.11.40 - 18.60 Lakh</span>
      </div>
      <div class="vs-tag">VS</div>
      <div class="col-6" style="padding: 0px">
        <img
          src="../assets/images/compare-car/compare-2.jpg"
          class="card-img-top"
        />
        <span style="font-size: 12px; margin-left: 15px; color: #808288">
          Volkswagen </span
        ><br />
        <span style="margin-left: 15px; font-weight: 500">Kushaq</span><br />
        <span style="font-weight: 400">Rs.11.29 - 19.49 Lakh </span>
      </div>
      <a href="#" class="btn btn-primary compare-card-btn"
        >Volkswagen Taigun vs Skoda Kushaq</a
      >
    </div>
    <div class="dual-image-wrapper row">
      <div class="col-6" style="padding: 0px">
        <img
          src="../assets/images/compare-car/compare-3.jpg"
          class="card-img-top"
        />
        <span style="font-size: 12px; margin-left: 15px; color: #808288">
          Kia </span
        ><br />
        <span style="margin-left: 15px; font-weight: 500">Seltos</span><br />
        <span style="font-weight: 400">Rs.10.49 - 18.65 Lakh</span>
      </div>
      <div class="vs-tag">VS</div>
      <div class="col-6" style="padding: 0px">
        <img
          src="../assets/images/compare-car/compare-4.jpg"
          class="card-img-top"
        />
        <span style="font-size: 12px; margin-left: 15px; color: #808288">
          Hyundai </span
        ><br />
        <span style="margin-left: 15px; font-weight: 500">Creta</span><br />
        <span style="font-weight: 400">Rs.10.44 - 18.18 Lakh </span>
      </div>
      <a href="#" class="btn btn-primary compare-card-btn"
        >Kia Seltos vs Hyundai Creta</a
      >
    </div>
    <div class="dual-image-wrapper row">
      <div class="col-6" style="padding: 0px">
        <img
          src="../assets/images/compare-car/compare-5.jpg"
          class="card-img-top"
        />
        <span style="font-size: 12px; margin-left: 15px; color: #808288">
          Hyundai</span
        ><br />
        <span style="margin-left: 15px; font-weight: 500">Creta</span><br />
        <span style="font-weight: 400">Rs.10.44 - 18.18 Lakh</span>
      </div>
      <div class="vs-tag">VS</div>
      <div class="col-6" style="padding: 0px">
        <img
          src="../assets/images/compare-car/compare-6.jpg"
          class="card-img-top"
        />
        <span style="font-size: 12px; margin-left: 15px; color: #808288">
          Hyundai </span
        ><br />
        <span style="margin-left: 15px; font-weight: 500">Vanue</span><br />
        <span style="font-weight: 400">Rs.7.53 - 12.72 Lakh </span>
      </div>
      <a href="#" class="btn btn-primary compare-card-btn"
        >Hyundai Creta vs Hyundai Venue</a
      >
    </div>
  </div>
  <div style="margin-top: 20px; margin-bottom: 20px">
    <hr style="width: 100%" />
  </div>
  <div class="grids-footer">View All car comparisons</div>
</div>
<div class="city-wrapper">
  <h3>Get trusted used cars nearby</h3>
  <br />
  <div class="city-grid">
    <div class="card city-card">
      <img src="../assets/images/city/ahmedabad-1.svg" class="card-img-top" />
      <div class="card-body">
        <span style="font-size: 12px; color: #b8b9bb">Used cars in</span><br />
        <span style="font-size: 14px"> Ahmedabad</span>
      </div>
    </div>
    <div class="card city-card">
      <img src="../assets/images/city/bangalore-2.svg" class="card-img-top" />
      <div class="card-body">
        <span style="font-size: 12px; color: #b8b9bb">Used cars in</span><br />
        <span style="font-size: 14px"> Bangalore</span>
      </div>
    </div>
    <div class="card city-card">
      <img src="../assets/images/city/chennai-3.svg" class="card-img-top" />
      <div class="card-body">
        <span style="font-size: 12px; color: #b8b9bb">Used cars in</span><br />
        <span style="font-size: 14px"> Chennai</span>
      </div>
    </div>
    <div class="card city-card">
      <img src="../assets/images/city/delhi-ncr-4.svg" class="card-img-top" />
      <div class="card-body">
        <span style="font-size: 12px; color: #b8b9bb">Used cars in</span><br />
        <span style="font-size: 14px"> Delhi NCR</span>
      </div>
    </div>
    <div class="card city-card">
      <img src="../assets/images/city/gurgaon-5.svg" class="card-img-top" />
      <div class="card-body">
        <span style="font-size: 12px; color: #b8b9bb">Used cars in</span><br />
        <span style="font-size: 14px"> Gurgaon</span>
      </div>
    </div>
    <div class="card city-card">
      <img src="../assets/images/city/hyderabad-6.svg" class="card-img-top" />
      <div class="card-body">
        <span style="font-size: 12px; color: #b8b9bb">Used cars in</span><br />
        <span style="font-size: 12px"> Hyderabad</span>
      </div>
    </div>
    <div class="card city-card">
      <img src="../assets/images/city/jaipur-7.svg" class="card-img-top" />
      <div class="card-body">
        <span style="font-size: 12px; color: #b8b9bb">Used cars in</span><br />
        <span style="font-size: 14px"> Jaipur</span>
      </div>
    </div>
    <div class="card city-card">
      <img src="../assets/images/city/kolkata-8.svg" class="card-img-top" />
      <div class="card-body">
        <span style="font-size: 12px; color: #b8b9bb">Used cars in</span><br />
        <span style="font-size: 12px">Kolkata</span>
      </div>
    </div>
    <div class="card city-card">
      <img src="../assets/images/city/mumbai-9.svg" class="card-img-top" />
      <div class="card-body">
        <span style="font-size: 12px; color: #b8b9bb">Used cars in</span><br />
        <span style="font-size: 14px">Mumbai</span>
      </div>
    </div>
    <div class="card city-card">
      <img src="../assets/images/city/new-delhi-10.svg" class="card-img-top" />
      <div class="card-body">
        <span style="font-size: 12px; color: #b8b9bb">Used cars in</span><br />
        <span style="font-size: 14px">New Delhi</span>
      </div>
    </div>
    <div class="card city-card">
      <img src="../assets/images/city/noida-11.svg" class="card-img-top" />
      <div class="card-body">
        <span style="font-size: 12px; color: #b8b9bb">Used cars in</span><br />
        <span style="font-size: 14px">Noida</span>
      </div>
    </div>
    <div class="card city-card">
      <img src="../assets/images/city/pune-12.svg" class="card-img-top" />
      <div class="card-body">
        <span style="font-size: 12px; color: #b8b9bb">Used cars in</span><br />
        <span style="font-size: 14px">Pune</span>
      </div>
    </div>
  </div>
  <div class="city-search">
    <span class="city-search-text"
      >I am looking to buy a second hand car in</span
    >

    <ng-select
      [items]="SelectCity"
      ng-options="item for item in names"
      bindLabel="name"
      bindValue="id"
      placeholder="Enter your city"
      class="ng-select-input"
    >
    </ng-select>
  </div>
</div>
<div class="menubar-1-Wrapper">
  <h3>News to help choose your car</h3>
  <br />
  <div class="news-car-grid">
    <div style="max-width: 540px bo">
      <div class="row g-0">
        <div class="col-md-5 col-3">
          <img
            style="height: 200px; width: 180px"
            src="../assets/images/car-news/car-news-1.webp"
            class="img-fluid"
            alt="..."
          />
        </div>
        <div class="col-md-5 col-3">
          <div class="card-body" style="width: 280px">
            <h5 class="card-title car-news-title">
              Volkswagen Taigun And Nissan Kicks: Readily Available Compac...
            </h5>
            <br />
            <p class="card-text car-news-text">
              The Korean duo continue their blockbuster run in their segment,
              leading to a maximum waiting time
            </p>
            <p class="card-text">
              <small class="text-muted" style="color: black !important"
                >Rohit</small
              ><br />
              <small class="text-muted">Aug 24, 2022</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-5 col-3">
          <img
            style="height: 200px; width: 180px"
            src="../assets/images/car-news/car-news-2.webp"
            class="img-fluid"
            alt="..."
          />
        </div>
        <div class="col-md-5 col-3">
          <div class="card-body" style="width: 280px">
            <h5 class="card-title car-news-title">
              Kia Marks Three Years Of Seltos In India
            </h5>
            <br />
            <p class="card-text car-news-text">
              The compact SUV had recently crossed three-lakh sales milestone in
              the Indian market
            </p>
            <p class="card-text">
              <small class="text-muted" style="color: black !important"
                >Rohit</small
              ><br />
              <small class="text-muted">Aug 24, 2022</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-5 col-3">
          <img
            style="height: 200px; width: 180px"
            src="../assets/images/car-news/car-news-3.webp"
            class="img-fluid"
            alt="..."
          />
        </div>
        <div class="col-md-5 col-3">
          <div class="card-body" style="width: 280px">
            <h5 class="card-title car-news-title">
              10 Cars With 10-inch Touchscreens Under Rs 20 Lakh
            </h5>
            <br />
            <p class="card-text car-news-text">
              Of all the models listed below, the MG Astor is the only car here
              to get a 10-inch display as standard
            </p>
            <p class="card-text">
              <small class="text-muted" style="color: black !important"
                >Rohit</small
              ><br />
              <small class="text-muted">Aug 27, 2022</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-5 col-3">
          <img
            style="height: 200px; width: 180px"
            src="../assets/images/car-news/car-news-4.webp"
            class="img-fluid"
            alt="..."
          />
        </div>
        <div class="col-md-5 col-3">
          <div class="card-body" style="width: 280px">
            <h5 class="card-title car-news-title">
              Maruti’s Flex-fuel Engine Under Development
            </h5>
            <br />
            <p class="card-text car-news-text">
              The carmaker has already stated that all of its models will be E20
              (20 per cent ethanol in petrol)
            </p>
            <p class="card-text">
              <small class="text-muted" style="color: black !important"
                >Rohit</small
              ><br />
              <small class="text-muted">Aug 16, 2022</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 20px; margin-bottom: 20px">
    <hr style="width: 100%" />
  </div>
  <div class="grids-footer">View All Latest News</div>
</div>
