<div class="latest-cars-wrapper">
  <div>
    <h3>Latest Cars</h3>
  </div>
  <br />
  <div class="grid-wrapper">
    <div class="card">
      <img src="../assets/images/latest-car-1.jpg" class="card-img-top" />
      <div class="card-body">
        <h6 class="card-title card-text-1">Mercedes-Benz EQS</h6>
        <h5 class="card-title card-text-2">Rs2.45 Cr*</h5>
        <a href="#" class="btn btn-primary card-button">Check August Offers</a>
      </div>
    </div>
    <div class="card">
      <img src="../assets/images/latest-car-2.jpg" class="card-img-top" />
      <div class="card-body">
        <h6 class="card-title card-text-1">Hyundai Venue N Line</h6>
        <h5 class="card-title card-text-2">Rs11.00 Lakh*</h5>
        <a href="#" class="btn btn-primary card-button">Check August Offers</a>
      </div>
    </div>
    <div class="card">
      <img src="../assets/images/latest-car-3.jpg" class="card-img-top" />
      <div class="card-body">
        <h6 class="card-title card-text-1">Toyota Urban Cruiser Hyryder</h6>
        <h5 class="card-title card-text-2">Rs9.50 Lakh*</h5>
        <a href="#" class="btn btn-primary card-button">Check August Offers</a>
      </div>
    </div>
    <div class="card">
      <img src="../assets/images/latest-car-4.jpg" class="card-img-top" />
      <div class="card-body">
        <h6 class="card-title card-text-1">Mahindra Scorpio Classic</h6>
        <h5 class="card-title card-text-2">Rs11.99 - 15.49 Lakh*</h5>
        <a href="#" class="btn btn-primary card-button">Check August Offers</a>
      </div>
    </div>
  </div>
  <div style="margin-top: 20px; margin-bottom: 20px">
    <hr style="width: 100%" />
  </div>
  <div class="grids-footer">View All Latest Cars</div>
</div>
<div class="latest-cars-wrapper">
  <div>
    <h3>Upcoming Cars</h3>
  </div>
  <br />
  <div class="grid-wrapper">
    <div class="card">
      <img src="../assets/images/upcoming-car-1.jpg" class="card-img-top" />
      <div class="card-body">
        <h6 class="card-title card-text-1">Toyota Land Cruiser</h6>
        <h5 class="card-title card-text-2">
          Rs1.50 Cr
          <span style="font-size: 10px; color: #919395">Estimated Price</span>
        </h5>
        <span style="font-size: 13px; color: #919395"
          >Mar 02, 2023 Expected Launch</span
        >
        <a href="#" class="btn btn-primary card-button"
          >Alert Me When Launched</a
        >
      </div>
    </div>
    <div class="card">
      <img src="../assets/images/upcoming-car-2.jpg" class="card-img-top" />
      <div class="card-body">
        <h6 class="card-title card-text-1">Hyundai Nexo</h6>
        <h5 class="card-title card-text-2">
          Rs65.00 Lakh
          <span style="font-size: 10px; color: #919395">Estimated Price</span>
        </h5>
        <span style="font-size: 13px; color: #919395"
          >Mar 15, 2023 Expected Launch</span
        >
        <a href="#" class="btn btn-primary card-button"
          >Alert Me When Launched</a
        >
      </div>
    </div>
    <div class="card">
      <img src="../assets/images/upcoming-car-3.jpg" class="card-img-top" />
      <div class="card-body">
        <h6 class="card-title card-text-1">Hyundai Palisade</h6>
        <h5 class="card-title card-text-2">
          Rs40.00 Lakh
          <span style="font-size: 10px; color: #919395">Estimated Price</span>
        </h5>
        <span style="font-size: 13px; color: #919395"
          >Aug 01, 2023 Expected Launch</span
        >
        <a href="#" class="btn btn-primary card-button"
          >Alert Me When Launched</a
        >
      </div>
    </div>
    <div class="card">
      <img src="../assets/images/upcoming-car-4.jpg" class="card-img-top" />
      <div class="card-body">
        <h6 class="card-title card-text-1">Kia Sportage</h6>
        <h5 class="card-title card-text-2">
          Rs25.00 Lakh
          <span style="font-size: 10px; color: #919395">Estimated Price</span>
        </h5>
        <span style="font-size: 13px; color: #919395"
          >Jul 11, 2023 Expected Launch</span
        >
        <a href="#" class="btn btn-primary card-button"
          >Alert Me When Launched</a
        >
      </div>
    </div>
  </div>
  <div style="margin-top: 20px; margin-bottom: 20px">
    <hr style="width: 100%" />
  </div>
  <div class="grids-footer">View All Upcoming Cars</div>
</div>
