<div class="menubar-1-Wrapper">
  <div>
    <h3>Know more to choose better</h3>
  </div>
  <div>
    <ul class="nav nav-tabs menubar-button" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          style="border: none"
          class="nav-link active menubar-btn-clicked"
          id="expert-reviews-tab"
          data-bs-toggle="tab"
          data-bs-target="#expert-reviews"
          type="button"
          role="tab"
          aria-controls="expert-reviews"
          aria-selected="true"
        >
          Expert Reviews
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          style="border: none"
          class="nav-link menubar-btn-clicked"
          id="featured-stories-tab"
          data-bs-toggle="tab"
          data-bs-target="#featured-stories"
          type="button"
          role="tab"
          aria-controls="featured-stories"
          aria-selected="false"
        >
          Featured Stories
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          style="border: none"
          class="nav-link menubar-btn-clicked"
          id="videos-tab"
          data-bs-toggle="tab"
          data-bs-target="#videos"
          type="button"
          role="tab"
          aria-controls="videos"
          aria-selected="false"
        >
          Videos
        </button>
      </li>
    </ul>
    <div style="margin-top: 20px; margin-bottom: 20px">
      <hr style="width: 100%" />
    </div>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="expert-reviews"
        role="tabpanel"
        aria-labelledby="expert-reviews-tab"
      >
        <div class="news-car-grid">
          <div style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-5 col-3">
                <img
                  style="height: 200px; width: 180px"
                  src="../assets/images/expert-review/expert-review-1.webp"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="col-md-5 col-3">
                <div class="card-body" style="width: 280px">
                  <h5 class="card-title car-news-title">
                    Continental UltraContact UC6 Tyre Review On Our Kia Carens
                  </h5>
                  <br />
                  <p class="card-text car-news-text">
                    These tyres promise excellent grip on wet roads. Maharashtra
                    monsoons are also in to help us get to know these tyres
                  </p>
                  <p class="card-text">
                    <small class="text-muted" style="color: black !important"
                      >Tarun</small
                    ><br />
                    <small class="text-muted">Aug 27, 2022</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-5 col-3">
                <img
                  style="height: 200px; width: 180px"
                  src="../assets/images/expert-review/expert-review-2.webp"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="col-md-5 col-3">
                <div class="card-body" style="width: 280px">
                  <h5 class="card-title car-news-title">
                    Maruti Suzuki Alto K10 Review | We Were Pleasantly Surprised
                  </h5>
                  <br />
                  <p class="card-text car-news-text">
                    The Maruti Suzuki Alto K10 not only has a more powerful
                    motor but is in fact a brand new product. Is it any good?
                  </p>
                  <p class="card-text">
                    <small class="text-muted" style="color: black !important"
                      >CarDekho</small
                    ><br />
                    <small class="text-muted">Aug 24, 2022</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-5 col-3">
                <img
                  style="height: 200px; width: 180px"
                  src="../assets/images/expert-review/expert-review-3.webp"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="col-md-5 col-3">
                <div class="card-body" style="width: 280px">
                  <h5 class="card-title car-news-title">
                    2022 Hyundai Tucson: First Drive Review
                  </h5>
                  <br />
                  <p class="card-text car-news-text">
                    The Hyundai Tucson is appealing from every angle – outside
                    and inside. It's so good on paper that it can almost sound
                  </p>
                  <p class="card-text">
                    <small class="text-muted" style="color: black !important"
                      >Nabeel</small
                    ><br />
                    <small class="text-muted">Aug 12, 2022</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-5 col-3">
                <img
                  style="height: 200px; width: 180px"
                  src="../assets/images/expert-review/expert-review-4.webp"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="col-md-5 col-3">
                <div class="card-body" style="width: 280px">
                  <h5 class="card-title car-news-title">
                    Maruti Celerio AMT: Long Term Fleet Introduction
                  </h5>
                  <br />
                  <p class="card-text car-news-text">
                    After a long time, we finally have a humble commuter in the
                    fleet. And with its exceptional claimed efficiency, a lot
                  </p>
                  <p class="card-text">
                    <small class="text-muted" style="color: black !important"
                      >Nabeel</small
                    ><br />
                    <small class="text-muted">Aug 05, 2022</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 20px; margin-bottom: 20px">
          <hr style="width: 100%" />
        </div>
        <div class="grids-footer">View All Expert Reviews</div>
      </div>
      <div
        class="tab-pane fade show active"
        id="featured-stories"
        role="tabpanel"
        aria-labelledby="featured-stories-tab"
      >
        <div class="news-car-grid">
          <div style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-5 col-3">
                <img
                  style="height: 200px; width: 180px"
                  src="../assets/images/Featured-stories/FeatureStories-1.webp"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="col-md-5 col-3">
                <div class="card-body" style="width: 280px">
                  <h5 class="card-title car-news-title">
                    Renault Kiger: The Gold Standard of Quality and Reliability
                    ...
                  </h5>
                  <br />
                  <p class="card-text car-news-text">
                    After bagging multiple awards across categories, Renault
                    Kiger continues its dream run by winning the second spot in
                  </p>
                  <p class="card-text">
                    <small class="text-muted" style="color: black !important"
                      >Sponsored</small
                    ><br />
                    <small class="text-muted">july 21, 2022</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-5 col-3">
                <img
                  style="height: 200px; width: 180px"
                  src="../assets/images/Featured-stories/FeatureStories-2.webp"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="col-md-5 col-3">
                <div class="card-body" style="width: 280px">
                  <h5 class="card-title car-news-title">
                    realme GT NEO 3 15W Thor: Love and Thunder Limited Edition
                    -...
                  </h5>
                  <br />
                  <p class="card-text car-news-text">
                    We take a closer look at the special edition of the realme
                    GT NEO 3 that’s celebrating Marvel Studios’ latest movie,
                  </p>
                  <p class="card-text">
                    <small class="text-muted" style="color: black !important"
                      >Sponsored</small
                    ><br />
                    <small class="text-muted">july 12, 2022</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-5 col-3">
                <img
                  style="height: 200px; width: 180px"
                  src="../assets/images/Featured-stories/FeatureStories-3.webp"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="col-md-5 col-3">
                <div class="card-body" style="width: 280px">
                  <h5 class="card-title car-news-title">
                    5 Key Traffic Rules And Regulations Issued By The Delhi
                    Gove...
                  </h5>
                  <br />
                  <p class="card-text car-news-text">
                    The new developments are part of the government’s continued
                    attempt to increase road safety and mitigate Delhi’s
                  </p>
                  <p class="card-text">
                    <small class="text-muted" style="color: black !important"
                      >Rohit</small
                    ><br />
                    <small class="text-muted">Dec 20, 2021</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-5 col-3">
                <img
                  style="height: 200px; width: 180px"
                  src="../assets/images/Featured-stories/FeatureStories-4.webp"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="col-md-5 col-3">
                <div class="card-body" style="width: 280px">
                  <h5 class="card-title car-news-title">
                    5 Different Ways The Nissan ‘Kicks’ Its Competit..
                  </h5>
                  <br />
                  <p class="card-text car-news-text">
                    First-in-class features, premium interiors and more! Here’s
                    everything the Nissan Kicks has to offer
                  </p>
                  <p class="card-text">
                    <small class="text-muted" style="color: black !important"
                      >Sponsored</small
                    ><br />
                    <small class="text-muted">Dec 09, 2021</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 20px; margin-bottom: 20px">
          <hr style="width: 100%" />
        </div>
        <div class="grids-footer">View All Featured Reviews</div>
      </div>
      <div
        class="tab-pane fade show active"
        id="videos"
        role="tabpanel"
        aria-labelledby="videos-tab"
      >
        <div class="news-car-grid">
          <div style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-5 col-3">
                <img
                  style="height: 200px; width: 180px"
                  src="../assets/images/videos/videos-1.jpg"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="col-md-5 col-3">
                <div class="card-body" style="width: 280px">
                  <h3 class="card-title videos-text">
                    Safety Features Explained: Featuring Kia Carens
                  </h3>

                  <br />
                  <p class="videos-text-1">july 29, 2022</p>
                </div>
              </div>
            </div>
          </div>
          <div style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-5 col-3">
                <img
                  style="height: 200px; width: 180px"
                  src="../assets/images/videos/videos-2.jpg"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="col-md-5 col-3">
                <div class="card-body" style="width: 280px">
                  <h3 class="card-title videos-text">
                    Hyundai Creta Crash Test Rating: ⭐⭐⭐ | Explained #In2...
                  </h3>

                  <br />
                  <p class="videos-text-1">july 23, 2022</p>
                </div>
              </div>
            </div>
          </div>
          <div style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-5 col-3">
                <img
                  style="height: 200px; width: 180px"
                  src="../assets/images/videos/videos-3.jpg"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="col-md-5 col-3">
                <div class="card-body" style="width: 280px">
                  <h3 class="card-title videos-text">
                    Skoda Kushaq Monte Carlo | Exterior, Interior Differe...
                  </h3>

                  <br />
                  <p class="videos-text-1">july 31, 2022</p>
                </div>
              </div>
            </div>
          </div>
          <div style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-5 col-3">
                <img
                  style="height: 200px; width: 180px"
                  src="../assets/images/videos/videos-4.jpg"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="col-md-5 col-3">
                <div class="card-body" style="width: 280px">
                  <h3 class="card-title videos-text">
                    Kia Seltos 2022 Variants Explained: HTE, HTK. HTK+, H...
                  </h3>
                  <br />
                  <p class="videos-text-1">july 21, 2022</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 20px; margin-bottom: 20px">
          <hr style="width: 100%" />
        </div>
        <div class="grids-footer">View All Videos</div>
      </div>
    </div>
  </div>
</div>
